/* how-it-work  ====================================================================================================*/
.how-it-work {
  @extend %bgSection;
  @include adaptiveValue('padding-top', 120, 40);
  @include adaptiveValue('padding-bottom', 80, 20);
  // .how__container
  &__container {
    display: grid;
    @include adaptiveValue('gap', 48, 20);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: rem(647);
      height: rem(647);
      bottom: -20%;
      right: -34%;
      background-color: rgb(248, 250, 252, 0.9);
      z-index: -1;
      transform: rotate(40deg);
    }
  }
  // .how__title
  &__title {
    @extend %slide-in-bottom-100;
  }
  // .how__column-top-items
  &__column-top-items {
    position: relative;
    display: grid;
    @include adaptiveValue('gap', 48, 20);
    @media (min-width: em(1187)) {
      grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
    }
    @media (max-width: em(1187)) {
      grid-template-columns: repeat(auto-fit, minmax(rem(340), 1fr));
    }
    @media (max-width: em(575)) {
      grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
    }
  }
  // .how__item
  &__item {
    @extend %slide-in-bottom-25;
  }
  // .how__column-bottom-items
  &__column-bottom-items {
    display: grid;
    @include adaptiveValue('gap', 48, 20);
    @media (min-width: em(1187)) {
      grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
    }
    @media (max-width: em(1187)) {
      grid-template-columns: repeat(auto-fit, minmax(rem(340), 1fr));
    }
    @media (max-width: em(575)) {
      grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
    }
  }
}
.item-it-work {
  display: flex;
  flex-direction: column;
  align-items: start;
  @include adaptiveValue('padding', 24, 18);
  border: 2px solid $orangeColor;
  background-color: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 4px 16px 24px rgba(0, 0, 0, 0.05);
  position: relative;
  @media (min-width:em(1140)){
    &::after {
      content: '';
      position: absolute;
      height: rem(2);
      top: 50%;
      transform: translate(0px, -50%);
      background-color: $orangeColor;
    }
    &:not(:last-child) {
      &::after {
        right: rem(-50);
        width: rem(48);
      }
    }
    &:nth-child(3) {
      &::before {
        content: '';
        position: absolute;
        height: 104%;
        top: -54%;
        width: rem(2);
        right: rem(-26);
        background-color: $orangeColor;
      }
    }
  }

  @media (min-width: em(1300)) {
    &:last-child {
      &::after {
        right: rem(-26);
        width: rem(24);
      }
    }
    &:nth-child(3) {
      &::before {
        right: rem(-26);
      }
    }
  }
  @media (max-width: em(1300)) {
    &:last-child {
      &::after {
        right: rem(-12);
        width: rem(12);
      }
    }
    &:nth-child(3) {
      &::before {
        right: rem(-12);
      }
    }
  }



  // .item-block__icon
  &__icon {
    width: rem(32);
    height: rem(32);
    margin-bottom: rem(8);
  }
  // .item-block__title
  &__title {
    span {
      color: #7d8897;
    }
    &:not(:last-child) {
      margin-bottom: em(8, 24);
    }
  }
  // .item-block__text
  &__text {
  }
}
/* how-it-work  ====================================================================================================*/
//========================================================================================================================================================
